<div id='mainChartContainer' class="mainChartContainer">
	<div data-dojo-attach-point="content">
		<div data-dojo-attach-point="resultsTabNode">
			<table>
				<tr>
					<td colspan="2">
						<button dojo-data-type="dijit/form/Button" type="button" data-dojo-attach-event="click: getResults">Dojo Button</button>
					</td>
				</tr>
				<tr style="border 1px solid;">
					<td style="width:280px !important; height:205px;">
						<div class="chart-section-item chart-container" id="chartContainer"></div>
					</td>
					<td style="width:60px !important;">
						<div id='chartLegend'></div>
					</td>
				</tr>
			</table>
		</div>
		<div data-dojo-attach-point="selectTabNode">
			<span>Select Tab</span>
		</div>
	</div>
</div>