<div class="gis_ValidateDataDijit" >
    <table align="center" border="0px" width="98%">
        <tr>
            <td align="center" colspan = 3>
                <div class="titleLabel">
                     Get Sample Address Points to Check
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3"></br></br></td>
        </tr>
        <tr>
            <td width="45%" align="center" colspan = 3>
                <button width="30%"  id="btnexecuteValidation"  data-dojo-attach-point="_executeButton" data-dojo-type="dijit.form.Button" data-dojo-attach-event="click:executeValidation">Get Sample</button>
            </td>
        </tr>
        <tr>
            <td colspan="3"> </br></td>
        </tr>
        <tr>
            <!--<td colspan="3"><div style="visibility:'hidden'" data-dojo-type="dijit.ProgressBar"  data-dojo-attach-point="_progressBar" id="progressBar"></div></td>-->
            <td colspan="3" align="center"><img id="imgExecuting" src="js/gis/dijit/ValidateData/images/gears.gif" style="visibility:hidden"/></td>
        </tr>
        <tr>
            <td colspan="3" align="center"><span id="lblExecuting" style="visibility: hidden">Submitting...</span></td>
        </tr>
    </table>
</div>
